<div class="z-50 hidden  bg-alabaster lg:flex md:w-72 md:flex-col md:fixed md:inset-y-0 dark:bg-cinder">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex flex-col flex-1 min-h-0 border-r border-smoke dark:border-gun">
    <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto lg:pl-6">
      <div class="flex items-center flex-shrink-0 px-4 text-comet dark:text-white">
        <a href="./index.html">{{>"assets/logo"}}</a>
      </div>
      <nav class="flex-1 mt-12">{{>"global/sidebarLinks"}}</nav>
    </div>
    <!------ CTA buttons goes here
      <div
      class="flex flex-shrink-0 p-4 border-t lg:p-12 border-smoke dark:border-gun"
      >
    </div>
  -->
  </div>
</div>