<!-- This example requires Tailwind CSS v2.0+ -->
<div class=" bg-lilac border-oyster dark:border-pearl dark:bg-cinder dark:hover:bg-gun border-t-2">
  <div class="max-w-7xl mx-auto">
    <div class=" lg:grid-cols-2 lg:divide-x dark:divide-x-gun dark:divide-gun grid grid-cols-1">
      <div>
        <a href="#">
          <div class=" bg-ghost dark:bg-cinder dark:hover:bg-tuna hover:bg-metal sm:px-6 lg:px-8 group px-4 pt-8 pb-16">
            <span class=" text-comet dark:text-manatee dark:hover:text-oyster text-sm font-normal">
              Previous
            </span>
            <p
              class=" lg:text-base text-comet dark:text-manatee sm:text-xl dark:group-hover:text-periblue darkgroup-hover:text-periblue group-hover:text-pearl text-xs font-light">
              Home
            </p>
          </div>
        </a>
      </div>

      <div>
        <a href="#">
          <div
            class=" md:mt-0 bg-ghost dark:bg-cinder dark:hover:bg-tuna hover:bg-metal sm:px-6 lg:px-8 group px-4 pt-8 pb-16">
            <span class="text-comet dark:text-manatee text-sm font-normal">
              Next
            </span>
            <p
              class=" lg:text-base text-comet dark:text-manatee sm:text-xl dark:group-hover:text-periblue darkgroup-hover:text-periblue group-hover:text-pearl space-x-2 text-xs font-light">
              <span>Area:</span>
              <span>Subject</span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{{>"global/footer"}}